.game {
    background-color: #282828;
    font-size: 25px;
    min-height: 100vh;
}

.information-panel {
    background-color: #EBF2FA;
    border-bottom: solid black 4px;
    padding: 30px;
}

.fields-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #bfc5cc;
}

.fields-list p {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 90vw;
}

.active-turn {
    text-decoration: underline;
    color: #EBF2FA;
}

.game h1 {
    margin: 0px;
    font-size: 40px;    
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100vw;
}
